*{
  font-family:sans-serif,verdana,arial;
  font-size:20px;
}
body{
  min-height:500vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.stopwatch{
  width:50%;
  height:80%;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:15px;
  border:solid;
  flex-direction:column;
  background-color:black;
  color:white;
}

.display{
  height:80px;
  border-radius:10px;
}

.buttons{
  border-radius:15px;
  border:solid;
  height:40px;
  display:flex;
}

#101:hover{
  cursor:pointer;
  background-color:green;
  color:black;
}

#102:hover{
  cursor:pointer;
  background-color:red;
  color:white;
}

#103:hover{
  cursor:pointer;
  background-color:yellow;
  color:black;
}
  
